.bioSection {
  color: #ffe81f;
  font-family: star-jedi;
  font-weight: lighter;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
  background-color: #000;
  border: 1px solid;
  transition: transform .3s ease;
}
.bio {
  height: 100%;
  width: 100%;
  padding: 16px 16px 24px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: 
  "header header"
  "image meta"
  ;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
}
.bio__header {
  grid-area: header;
}
.bio__name {
  font-size: 36px;
  text-align: center;
}
.bio__image {
  /* align-self: center; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: image;
  /* height: 90%; */
}
.bio__meta {
  /* padding: 20px; */
  grid-area: meta;
  text-align: right;
}
.meta__data {
  color: #fff;
  margin-bottom: 5px;
}

.bio__note {
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s ease;
}
.bio__exitButton {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: 0.1s ease;
  color: #ffe81f;
  
}
.bio__exitButton:hover {
  color: #555;
  cursor: pointer;
}