@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bioSection {
  display: grid;
  margin-top: 50px;
  font-family: star-jedi;
  font-weight: lighter;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  min-height: 450px;
  z-index: 2;
  background-color: #000;
  border: 1px solid;
}
@media (max-width: 858px) and (max-height: 500px) and (orientation: landscape) {
  .bioSection {
    margin-top: 10px;
    min-height: 340px;
    font-size: 12px;
  }
}
@media (max-width: 579px) {
  .bioSection {
    width: 300px;
    min-height: 250px;
    font-size: 12px;
  }
}
.bioSection--light {
  background-color: #fff;
  border: 1px solid #000;
}
.bio {
  padding: 16px 16px 24px;
  display: grid;
  grid-gap: 16px;
  grid-template-areas: 
  "header header"
  "image meta"
  ;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 858px) and (max-height: 500px) and (orientation: landscape) {
  .bio {
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
  }
}
.bio__loading {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bio__loading::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 50%;
  border-top: 1px solid;
  animation: spinner 1s infinite forwards;
}
@media (max-width: 579px) {
  .bio__loading::after {
    width: 10px;
    height: 10px;
    margin: 0;
  }
}
.bio__header {
  grid-area: header;
}
.bio__name {
  font-size: 36px;
  text-align: center;
}
@media (max-width: 858px) and (max-height: 500px) and (orientation: landscape) {
  .bio__name {
   font-size: 24px;
  }
}
@media (max-width: 579px) {
  .bio__name {
    font-size: 20px;
  }
}
.bio__image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: image;
}
.bio__meta {
  grid-area: meta;
  text-align: right;
}

.meta__data {
  color: #fff;
  margin-bottom: 5px;
}
.meta__data--light {
  color: #666;
}
.bio__note {
  font-size: 16px;
  margin-top: 10px;
}
.bio__exitButton {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 24px;
}
