
.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gallery__noResults {
  margin: 50px 0;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 574px) {
  .gallery__noResults {
    margin: 50px 0;
    font-size: 16px;
    text-align: center;
  }
}
.gallery__item {
  flex-shrink: 0;
  margin: 10px;
  flex-basis: 350px;
  border: 2px solid #ffe81f;
  height: 450px;
  font-size: 18px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-top: 15px;
  transition: transform .2s ease;
}
@media (max-width: 858px) {
  .gallery__item {
    flex-basis: 250px;
    height: 350px;
  }
}
@media (max-height: 450px) and (orientation: landscape) {
  .gallery__item {
    flex-basis: 250px;
    height: 300px;
  }
}
.gallery__item:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.gallery__item--light {
  border: 2px solid #000;
  font-family: star-jedi;
  color: #000;
  background-color: #fff;  
}
.item__name {
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  line-height: 120%;
}
@media (max-width: 858px) {
  .item__name {
    font-size: 20px;
  }
}

.item__image{
  margin: 0 auto;
  width: 90%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
