@font-face {
  src: url(../fonts/Starjedi.ttf);
  font-family: star-jedi;
}
@font-face {
  src: url(../fonts/Starjhol.ttf);
  font-family: star-hol;
}
@font-face {
  src: url(../fonts/StarWars.ttf);
  font-family: star-wars;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: arial;
  overflow-y: scroll;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  font-family: star-hol;
  font-weight: bold;
  background-color: #000;
  color: #ffe81f;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  transition: .3s ease;
}
.wrapper--light {
  background-color: #fff;
  color: #000;
  font-family: star-jedi;
}

.main {
  position: relative;
}