@font-face {
  src: url(/fonts/Starjedi.ttf);
  font-family: star-jedi;
}
@font-face {
  src: url(/fonts/Starjhol.ttf);
  font-family: star-hol;
}
@font-face {
  src: url(/fonts/StarWars.ttf);
  font-family: star-wars;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: arial;
  overflow-y: scroll;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}