
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status {
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: star-jedi;
  font-size: 24px;
}
@media (max-width: 680px) {
  .status {
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  .status__note {
    max-width: 180px;
  }
}
.status--light {
  background-color: #fff;
  color: #000;
}

.status--hidden {
  display: none;
}

.status--loading::after {
  content: "";
  margin: 10px 20px;
  width: 30px;
  height: 30px;
  border-top: 1px solid #ffe81f;
  border-radius: 50px;
  animation: spinner 1s infinite forwards;
}

.status--error::after {
  content: "È";
  margin-left: 20px;
  font-family: star-wars;
  font-size: 80px;
}
@media (max-width: 680px) {
  .status--error::after {
    margin-left: 10px;
    font-size: 50px;
  }
}
